@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: $font-family-base;
  line-height: $line-height-txt;
  color: map-get($color, text);
  background-color: map-get($color, background);
}

.disable-link {
  pointer-events: none;
}
