@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  color: map-get($color, text);
  // background-color: map-get($color, defaultBg);

  font-family: $font-family-base;
  line-height: $line-height-txt;
}

.disable-link {
  pointer-events: none;
}
