@mixin position($top, $right, $bottom, $left, $position) {
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  position: $position;
}

@mixin truncate-text($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  overflow: hidden;
}
