* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: map-get($color, text);
  text-decoration: none;
}

img {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: none;
}
