.btn-backtotop {
  position: fixed;
  bottom: 80px;
  right: 50%;
  transform: translateX(50%);

  width: 46px;
  height: 46px;
  border: 1px solid map-get($color, primary);
  border-radius: 1.5rem;

  background-color: #fff;
  opacity: 1;
  cursor: pointer;
  transition: all ease 0.5s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  &:hover {
    background-color: #f9fafb;
    opacity: 1;
    .tool-tip-backtotop {
      opacity: 1;
    }
  }

  .tool-tip-backtotop {
    position: absolute;
    bottom: 120%;
    opacity: 0;
    width: max-content;
    padding: 10px;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    background-color: rgba($color: #000000, $alpha: 0.7);
    transition: all ease 0.5s;
  }

  .offset-per {
    font-size: 12px;
    display: inline;
  }
}
