.bagde {
	border-radius: 20px;
	width: fit-content;
	font-size: map-get($font-sizes, xs);
	font-weight: map-get($font-weight, bold);
	padding: 6px 10px;
	text-align: center;
}

.bagde-red {
	background: map-get($color, red);
	color: map-get($color, white);
}

.bagde-grey {
	background: map-get($color, dark);
	color: map-get($color, white);
}

@media screen and (max-width: map-get($breakpoints, md)) {
	.bagde {
		font-size: 8px;
		border-radius: 9px;
		padding: 2px 5px;
	}
}
