.btn {
  position: relative;
  width: fit-content;
  height: fit-content;

  padding: 12px 32px;
  border-radius: 6px;
  border: transparent;
  outline: none;

  color: map-get($color, dark);
  font-size: map-get($font-size, sm);
  font-weight: map-get($font-size, semibold);
  text-transform: capitalize;
  transition: all ease 0.3s;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.btn-primary {
  background-color: map-get($color, primary);
  color: map-get($color, textButton);
}

.btn-secondary {
  background-color: map-get($color, secondary);
  color: #fff;
}

.btn-outline {
  border: 1px solid;
}

.btn-outline-primary {
  border: 1px solid map-get($color, primary);
  background-color: transparent;
  color: map-get($color, primary);
}

.btn-rounded {
  border-radius: 20px;
}

.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-danger {
  background-color: map-get($map: $color, $key: danger);
  color: map-get($map: $color, $key: textLight);
}

button:disabled,
button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.btn-loading {
  position: absolute;
  top: 0;
  right: 0;

  width: 20px;
  height: 20px;
  margin: 10px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #ff5722;
  border-radius: 50%;

  animation: spin 1.5s linear infinite;
  transition: none !important;
}

.btn-modal {
  margin: 0 5px;
  width: 140px;

  &:active {
    margin: 0 5px;
    min-height: 40px;
    min-width: 120px;
    border: none;
    border-radius: 4px;

    transition: all 0.4s;
    line-height: normal;
    text-decoration: none;
    background: #60c7c1;
    color: map-get($map: $color, $key: backgroundFrame);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
