.btn {
  position: relative;
  width: fit-content;
  height: fit-content;

  padding: 12px 32px;
  border-radius: 6px;
  border: transparent;
  outline: none;

  color: map-get($color, dark);
  font-size: map-get($font-size, sm);
  font-weight: map-get($font-size, semibold);
  text-transform: capitalize;

  cursor: pointer;
}

.btn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-outline {
  border: 1px solid;
}

.btn-outline-primary {
  border: 1px solid map-get($color, primary);
  background-color: transparent;
  color: map-get($color, primary);
}

.btn-rounded {
  border-radius: 20px;
}

.btn-primary {
  background-color: map-get($color, primary);
  color: map-get($color, textButton);

  &:hover {
    color: map-get($color, primary);
    background-color: map-get($color, backgroundFrame);
  }
}

.btn-secondary {
  background-color: map-get($color, secondary);
  color: #fff;
}

.btn-gradient {
  background-image: linear-gradient(to right, map-get($color, primary), map-get($color, secondary));
  color: #fff;
}

button:disabled,
button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.btn-loading {
  position: absolute;
  top: 0;
  right: 0;

  width: 20px;
  height: 20px;
  margin: 10px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #ff5722;
  border-radius: 50%;

  animation: spin 1.5s linear infinite;
  transition: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
