.btn {
  text-transform: uppercase;
  padding: 14px 18px;
  color: map-get($color, dark);
  background-color: map-get($color, white);
  border-radius: 33px;
  font-size: 13px;
  font-weight: 700;
  height: fit-content;
  width: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn.disabled {
  background-color: map-get($color, greyDark);
  color: map-get($color, white);
  cursor: progress;
}

.btn-rounded {
  border: 1px solid;
}

.btn-primary {
  background-color: map-get($color, primary);
  color: map-get($color, white);
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .btn {
    font-size: map-get($font-sizes, xxs);
    padding: 3px 10px;
  }

  .btn-subcribe {
    padding: 7px 20px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
  }

  .btn-mb-none-ouline {
    border: none;
  }
}
