.form {
  .form-label {
    font-size: map-get($map: $font-size, $key: md);
  }

  .form-input-group {
    min-height: 88px;
  }

  .form-input,
  .form-select {
    width: 100%;
    height: 36px;
    padding: 0 10px;
    margin: 4px 0 5px;

    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    background: white;

    &:focus {
      border: 1px solid map-get($map: $color, $key: primary);
      transition: none;
    }
  }

  .form-fieldset {
    border: 0;
  }

  input:disabled,
  input[disabled] {
    background-color: map-get($map: $color, $key: defaultBg);
  }
}

.form-error {
  padding-left: 3px;
  color: red;
  font-size: map-get($map: $font-size, $key: xs);
}
