.form {
  .form-label {
    font-size: map-get($map: $font-size, $key: md);
  }

  .form-input,
  .form-select {
    margin: 4px 0 10px;
    padding: 0 10px;
    width: 100%;
    height: 36px;

    background: white;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;

    &:focus {
      border: 1px solid map-get($map: $color, $key: primary);
      transition: none;
    }
  }
}
