.form {
  .form-label {
    font-size: map-get($map: $font-size, $key: md);
    font-weight: 500;
  }

  .form-input-group {
    min-height: 88px;
    margin-bottom: 10px;
  }

  .form-input,
  .form-select {
    width: 100%;
    padding: 12px 16px;
    margin: 4px 0 5px;

    border: 2px solid map-get($color, borderColor);
    border-radius: 12px;
    outline: none;
    background: white;
    font-family: "Poppins", sans-serif;

    &:focus,
    &:hover {
      border: 2px solid rgba($color: #ff7f0e, $alpha: 0.4);
      transition: none;
    }
  }

  .form-fieldset {
    border: 0;
  }

  input:disabled,
  input[disabled] {
    background-color: map-get($map: $color, $key: defaultBg);
  }
}

.form-error {
  padding-left: 3px;
  color: red;
  font-size: map-get($map: $font-size, $key: xs);
}
