.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &-small {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &-medium {
    width: 25px;
    height: 25px;
  }

  &-user-20 {
    background-image: url("../../assets/icons/ic-user-20.svg");
  }
  &-search-20 {
    background-image: url("../../assets/icons/ic-search-20.svg");
  }
  &-moon-20 {
    background-image: url("../../assets/icons/ic-moon-20.svg");
  }
  &-write-20 {
    background-image: url("../../assets/icons/ic-write-20.svg");
  }
  &-facebook-20 {
    background-image: url("../../assets/icons/ic-facebook-20.svg");
  }
  &-instagram-20 {
    background-image: url("../../assets/icons/ic-instagram-20.svg");
  }
  &-twitter-20 {
    background-image: url("../../assets/icons/ic-twitter-20.svg");
  }

  &-eye {
    width: 12px;
    height: 12px;
    background: url("../../assets/icons/ic-eye-10.svg");
    background-size: cover;
  }

  &-eye-slash {
    width: 12px;
    height: 12px;
    background: url("../../assets/icons/ic-eye_slash-10.svg");
    background-size: cover;
  }

  &-comment {
    background: url("../../assets/icons/ic-comment.svg") top center / cover no-repeat;
  }
  &-like-black {
    background: url("../../assets/icons/ic-like-black.svg") top center / cover no-repeat;
  }
  &-comment-black {
    background: url("../../assets/icons/ic-comment-black.svg") top center / cover no-repeat;
  }
  &-fire-ouline-20 {
    background-image: url("../../assets/icons/ic-fire-ouline-20.svg");
  }
  &-fire-20 {
    background-image: url("../../assets/icons/ic-fire-20.svg");
  }
  &-comment-20 {
    background-image: url("../../assets/icons/ic-comment-20.svg");
  }
  &-bookmark-20 {
    background-image: url("../../assets/icons/ic-bookmark-20.svg");
  }
  &-close-20 {
    background-image: url("../../assets/icons/ic-close-20.svg");
  }
  &-date-20 {
    background-image: url("../../assets/icons/ic-date-20.svg");
  }
  &-close-10 {
    background-image: url("../../assets/icons/ic-close-10.svg");
  }
  &-arrow-up-24 {
    background-image: url("../../assets/icons/ic-arrow-up-grey.svg");
  }
}
