.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-like {
  width: 20px;
  height: 20px;
  background: url("../../assets/icons/ic-like.svg") top center / cover no-repeat;
}

.icon-comment {
  width: 20px;
  height: 20px;
  background: url("../../assets/icons/ic-comment.svg") top center / cover
    no-repeat;
}
