.loading {
  width: 100vh;
  height: 100vh;

  &-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 9;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }

  &-container {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);

    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }

  &-inner {
    position: absolute;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    border-radius: 50%;
  }

  &-inner.line-one {
    left: 0%;
    top: 0%;
    border-bottom: 3px solid #efeffa;
    animation: rotate-one 1s linear infinite;
  }

  &-inner.line-two {
    top: 0%;
    right: 0%;
    border-right: 3px solid #efeffa;
    animation: rotate-two 1s linear infinite;
  }

  &-inner.line-three {
    right: 0%;
    bottom: 0%;
    border-top: 3px solid #efeffa;
    animation: rotate-three 1s linear infinite;
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
