.post {
  position: relative;
  gap: 30px;
  padding: 16px;
  border-radius: 24px;
  margin-bottom: 40px;
  border: 1px solid map-get($color, borderColor);

  &-content-wrapper {
    width: 70%;
  }
  &-title {
    min-height: 60px;
    font-size: map-get($font-size, xl);
    font-weight: map-get($font-weight, semibold);
    @include truncate-text(2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    margin-bottom: 8px;
    overflow: hidden;

    color: map-get($color, text);
    margin-bottom: 12px;
    margin-top: 8px;
    &:hover {
      color: map-get($color, primary);
    }
  }
  .post-body {
    min-height: 138px;
  }

  &-desc {
    min-height: 48px;
    font-size: map-get($font-size, md);
    color: map-get($color, subtext);
    @include truncate-text(2);
    margin-bottom: 12px;
  }
  &-date {
    min-width: 80px;
    font-size: map-get($font-size, xs);
    color: map-get($color, subtext);
  }
  .author-name {
    @include truncate-text(1);
    font-size: map-get($font-size, sm);
    color: map-get($color, light-black);
    font-weight: map-get($font-weight, medium);
  }
  .author-avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
  .post-cover {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
  }

  .post-info {
    margin-bottom: 10px;
    .post-author {
      margin-right: 14px;
    }
    .author-avatar {
      margin-right: 9px;
    }
  }
  .post-content-footer {
    .reaction-item {
      margin-right: 14px;
    }
  }
  .post-img-wrapper {
    .post-link {
      display: block;
      height: 220px;
      overflow: hidden;
      border-radius: 24px;
    }
  }
  &:hover {
    .post-cover {
      transform: scale(1.05);
      transition: all 0.6s linear;
    }
  }
  .tag-list {
    min-height: 33.6px;
  }
  .icon-like-wrapper,
  .icon-comment-wrapper,
  .icon-bookmark-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: default;
    background-color: #f9fafb;
  }
  .icon-like-wrapper,
  .icon-comment-wrapper {
    margin-right: 6px;
  }
  .reaction-item:first-child:hover {
    color: red;
  }
  .reaction-item:last-child:hover {
    color: #00d082;
  }
  .icon-like-wrapper:hover {
    background-color: #fff1f0;
    transition: all 0.3s;
    .icon {
      background-image: url("../../assets/icons/ic-heart-outline-red-20.svg");
    }
  }
  .icon-comment-wrapper:hover {
    background-color: #ddf5ed;
    transition: all 0.3s;
    .icon {
      background-image: url("../../assets/icons/ic-comment-outline-green-20.svg");
    }
  }
  .icon-bookmark-wrapper:hover {
    background-color: #fff7e6;
    transition: all 0.3s;
    .icon {
      background-image: url("../../assets/icons/ic-bookmark-primary-20.svg");
    }
  }
  .post-delete {
    display: none;
    position: absolute;
    right: 12px;
    top: 12px;

    width: 40px;
    height: 40px;
    padding: 4px;
    z-index: 3;
    border-radius: 12px;

    background-color: map-get($map: $color, $key: danger);
    cursor: pointer;
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .icon-delete {
      display: block;
      margin: 0 auto;

      &.icon-trash-fill-20 {
        display: none;
      }
    }

    &:hover {
      background-color: map-get($map: $color, $key: backgroundFrame);
      .icon-trash-20 {
        display: none;
      }
      .icon-trash-fill-20 {
        display: block;
      }
    }
  }
  &-restore {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 12px;
    z-index: 1;

    background-color: rgba($color: #000000, $alpha: 0.2);
  }

  .icon-restore-60 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
  }
  &.post-vertical {
    flex-direction: column-reverse;
    align-items: normal;
    gap: 0;
    padding: 0;
    .post-img-wrapper {
      .post-link {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .post-title {
      @include truncate-text(1);
      margin-top: 0;
    }
    .post-cover {
      border-radius: 24px;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .post-info {
      margin-bottom: 8px;
    }
    .tag-list {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 6;
    }
    .post-content-wrapper {
      padding: 14px;
      width: 100%;
    }
    .post-content-body {
      flex-direction: column-reverse;
    }
    .post-desc {
      display: none;
    }
  }
}

.empty-post {
  width: 100%;
  &-img {
    width: 400px;
  }
  &-desc {
    color: map-get($map: $color, $key: subtext);
  }
}
