.post {
  position: relative;
  height: 450px;
  margin-bottom: $p-col * 2;
  border-radius: 12px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff;

  .post-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;

    margin-bottom: 10px;
    overflow: hidden;

    color: #000;
    font-size: map-get($font-size, xxl);
  }
  .post-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    margin-bottom: 8px;
    overflow: hidden;

    color: map-get($color, text);
    font-size: 15px;
    line-height: 1.6;
  }

  &-list {
    margin-bottom: 20px;
  }
  &-body-top {
    margin-bottom: 10px;
  }

  .user-avatar {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  .post-title:hover {
    color: map-get($color, primary);
  }
  .post-created-date {
    font-size: map-get($font-size, sm);
  }

  &-img {
    height: 100%;
    margin-bottom: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    object-fit: cover;
    &-wrapper {
      height: 50%;
    }
    &-link {
      display: block;
      height: 100%;
    }
    &.err {
      object-fit: contain;
    }
  }

  &-body-wrapper {
    padding: 15px 15px 0;
    height: 50%;
  }

  .user-name {
    position: relative;
    margin-right: 16px;
    font-size: map-get($font-size, sm);
    font-weight: map-get($font-weight, medium);
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -11px;
      transform: translateY(-50%);

      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: map-get($color, text);
    }
  }

  &-body {
    border-bottom: 1px solid map-get($color, borderColor);
    height: 75%;
  }
  &-footer {
    height: 25%;
  }
  &-reaction-item {
    margin-right: 10px;
  }
  &-reaction-number {
    font-size: map-get($font-size, sm);
  }
  .icon {
    margin-right: 4px;
  }
  .read-more {
    font-size: map-get($font-size, sm);
    font-weight: map-get($font-weight, medium);
  }

  .post-status {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 6px 12px;
    border-radius: 12px;
    background: map-get($map: $color, $key: defaultBg);
    color: map-get($map: $color, $key: text);
  }

  .post-delete {
    visibility: hidden;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 40px;
    height: 40px;
    padding: 4px;
    z-index: 1;
    border-radius: 12px;
    background-color: map-get($map: $color, $key: warning);

    .icon-delete {
      display: block;
      margin: 0 auto;

      &.icon-trash-fill-20 {
        display: none;
      }
    }

    &:hover {
      background-color: map-get($map: $color, $key: backgroundFrame);
      .icon-trash-20 {
        display: none;
      }
      .icon-trash-fill-20 {
        display: block;
      }
    }
  }
}
