.skeleton {
  background-color: #d6d6d6;
  animation: skeleton-animation 1.2s infinite linear;
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}
