.navbar {
  margin-left: 20px;

  &-content {
    min-width: 40px;
    height: 40px;
  }

  .icon-search {
    background-color: #f8f9fa;
    border-radius: 6px;
  }

  &-subtext {
    padding-right: 12px;
    margin-left: 8px;

    color: map-get($color, text);
    font-size: map-get($font-size, sm);
    font-weight: map-get($font-weight, semibold);
    letter-spacing: -0.175px;
  }

  .navbar-item-auth {
    position: relative;

    .navbar-auth {
      position: absolute;
      top: calc(100% + 15px);
      width: 260px;
      right: 0;
      display: none;

      .auth-list {
        width: 100%;
        padding: 28px 24px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 12px;
        background-color: map-get($color, backgroundFrame);

        .auth-item {
          width: 100%;
          &:first-child {
            border-bottom: 1px solid map-get($map: $color, $key: borderColor);
          }

          &:not(:first-child) {
            border-radius: 6px;
            &:hover {
              background-color: map-get($map: $color, $key: borderColor);
            }
          }

          .auth-info {
            margin-bottom: 28px;
            img {
              width: 48px;
              height: 48px;
              object-fit: cover;
              border-radius: 100%;
            }
            &-text {
              flex: 1;
            }
            &-name {
              margin-bottom: 2px;
              font-size: 16px;
              font-weight: 700;
            }
            &-email {
              font-size: 12px;
            }

            &:hover {
              background-color: none !important;
            }
          }
        }
        .auth-link {
          padding: 10px 8px;
          &-info {
            padding: 0 0;
          }
          img {
            width: 20px;
            height: 20px;
          }
          p {
            margin-left: 10px;
            flex: 1;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        width: 100%;
        height: 25px;
        cursor: default;
      }
    }
    &:hover {
      .navbar-auth {
        display: block;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, xl)) {
  .navbar-item:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .header-welcome {
    display: none;
  }
}
