.text-primary {
  color: map-get($color, primary);
}

.text-danger {
  color: rgb(242 5 5);
}

.text-bold {
  font-weight: map-get($map: $font-weight, $key: bold);
}

.text-truncate-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;

  margin-bottom: 8px;
  overflow: hidden;

  color: map-get($color, text);
  font-size: 15px;
  line-height: 1.44;
}
