.detail-page {
  min-height: 100vh;
}
.section-detail-page {
  .tag {
    width: fit-content;
    max-width: 200px;
  }
  .detail-header {
    max-width: 768px;
    margin: 0 auto;
    .detail-header-tags {
      margin-bottom: 20px;
    }
    &-title {
      margin-bottom: 15px;
      font-size: 44px;
      text-transform: capitalize;
      color: map-get($color, textHeading);
    }
    &-desc {
      color: map-get($color, subtext);
      font-size: map-get($font-size, lg);
    }
    &-author {
      .author-info {
        .author-avatar {
          width: 44px;
          height: 44px;
          padding: 1px;
          margin-right: 10px;
          border: 1px solid #0d0c1a;
          border-radius: 100%;
          img {
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
          }
        }
        .author-name {
          font-size: 16px;
        }
        .post-date {
          font-size: 12px;
        }
      }
    }
  }
  .detail-action {
    .btn-post-action {
      width: 36px;
      height: 36px;
      padding: 0;
      border-radius: 100%;
    }
    .action-count {
      margin: 0 8px 0 8px;
      min-width: 20px;
      font-size: 12px;
      cursor: default;
    }
    .like-count {
      cursor: pointer;
    }
    .like-active > .btn-post-action {
      background-color: #fff1f2;
    }

    .like-active > .action-count {
      color: #e11d48;
    }
  }

  .aside-detail {
    position: sticky;
    top: -30%;
    height: fit-content;

    padding: 0;
    gap: 24px;
    .detail-author {
      border: 1px solid rgb(229 229 229);
      border-radius: 12px;
      .detail-author-link {
        padding: 20px;
      }
      .author-info {
        margin-right: 10px;
        .author-name {
          font-weight: map-get($font-weight, bold);
          font-size: map-get($font-size, lg);
        }
        .author-email,
        .author-gender {
          font-size: 16px;
          font-weight: 500;
        }
        .author-gender {
          text-transform: capitalize;
        }
      }

      .author-img {
        width: 100px;
        height: 100px;
        margin-bottom: 16px;
        border-radius: 100%;
        border: 1px solid #1f2937;
        padding: 1px;

        img {
          height: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }

      .author-connect {
        font-size: 13px;
        gap: 12px;
        font-weight: 600;
        :nth-child(1) {
          color: green;
        }
        :nth-child(2) {
          color: blue;
        }
        .follow {
          .follow-label {
            color: map-get($color, text);
            font-size: 14px;
          }
        }
      }
    }

    .detail-author-post {
      border: 1px solid rgb(229 229 229);
      border-radius: 12px;
      .author-posts {
        padding: 20px;
        .author-post-title {
          margin-bottom: 20px;
        }
      }

      //user post item recent
      .user-post-list {
        gap: 20px;
      }
      .user-post-item {
        padding: 10px;
        border: 1px solid rgb(229 229 229);
        border-radius: 12px;
        .upost-cover {
          flex: 1;
          margin-right: 10px;
          max-height: 81px;
          img {
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
            transition: transform 0.2s;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .upost-info {
          width: 70%;
          gap: 8px;
          .upost-title {
            font-size: 16px;
            margin-bottom: 0;
          }
          .upost-date {
            font-size: 12px;
            font-weight: 600;
          }
        }
        .upost-reaction {
          font-size: 14px;
          gap: 16px;
          .reaction-count {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .detail-cover {
    position: relative;
    border-radius: 15px;

    .cover-img {
      height: 100%;
      img {
        height: 100%;
        max-height: 600px;
        border-radius: 15px;
        object-fit: cover;
      }
    }
  }

  .detail-content {
    gap: 40px;

    .action-item {
      margin-bottom: 16px;

      .btn-post-action {
        width: min-content;
        height: min-content;
        padding: 5px;
        background-color: transparent;

        .ic-bookmark-blue-20 {
          width: 20px;
          height: 20px;
        }
      }

      .action-count {
        width: 20px;
        margin-left: 10px;
        overflow-wrap: break-word;
      }
    }

    .detail-post {
      width: 100%;

      .detail-post-body {
        margin-bottom: 16px;
        font-size: map-get($font-size, lg);
        letter-spacing: 0.3px;
        .detail-body {
          padding-right: 40px;
        }
        article {
          margin-bottom: 40px;
        }
        .post-content {
          display: flex;
          flex-direction: column;
          gap: 16px;

          pre {
            background-color: #1f2937;
            font-size: 14px;
            padding: 16px 24px;
            margin: 32px 0;
            color: #fff;
            white-space: pre-wrap;
            border-radius: 6px;
          }
        }
      }
    }
  }

  .section-comment {
    border-radius: 6px;
    margin-bottom: 40px;
    scroll-margin-top: 90px;

    .comment-title {
      font-size: 20px;
      margin-bottom: 16px;
    }

    .comment-input {
      display: inline-block;
      width: 100%;
      padding: 10px 10px 0;
      border: 1px solid rgb(229 229 229);
      border-radius: 12px;
      margin-bottom: 16px;

      color: map-get($color, text);
      font-size: map-get($font-size, md);
      outline: none;
      resize: none;

      &:focus {
        &::-webkit-input-placeholder {
          opacity: 0;
        }
      }

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }

      &-wrapper {
        align-items: end;
        border-radius: 6px;
        margin-bottom: 32px;
      }

      &-hidden {
        padding: 12px 0 40px;
        margin-bottom: 32px;
        color: map-get($map: $color, $key: subtext);
        font-size: 18px;
      }
    }

    .btn-comment {
      padding: 14px 24px;
      font-size: 16px;
      border-radius: 20px;
    }

    .comment {
      &-item {
        margin-bottom: 28px;
        border-radius: 12px;
        background-color: white;
        white-space: pre-line;
      }

      &-info {
        width: 100%;
        padding: 16px;
        border: 1px solid rgb(229 229 229);
        border-radius: 12px;
      }

      &-info-top {
        align-items: baseline;
        margin-bottom: 4px;
        padding-bottom: 4px;
      }

      .user-info {
        margin-right: 10px;
      }

      .user-avatar {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        border-radius: 10px;
        object-fit: cover;
      }

      .user-name {
        margin-right: 10px;
        font-size: map-get($font-size, md);
        font-weight: map-get($font-weight, semibold);
        color: map-get($color, text);
      }

      &-content {
        border-radius: 6px;
        font-size: map-get($font-size, md);
        color: map-get($color, text);
      }

      &-time {
        color: map-get($color, subtext);
        font-size: map-get($font-size, xs);
      }
    }
  }
}

// LOADING
.skeleton.action-item {
  width: 40px;
  height: 40px;
}

.skeleton.text-row {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.skeleton.author-name {
  width: 150px;
  height: 20px;
}

@media screen and (max-width: map-get($breakpoints, xl)) {
  .section-detail-page {
    .detail-post {
      .detail-post-body {
        .detail-body {
          padding-right: unset !important;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, lg)) {
  .section-detail-page {
    .detail-content {
      width: 100%;
      gap: 20px;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .section-detail-page {
    .detail-action {
      position: fixed;
      top: unset;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 5;

      .action-list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: map-get($color, backgroundFrame);

        .action-item {
          margin-bottom: 0;
        }
      }
    }
  }
}
