.home-page {
  .section-title {
    margin-bottom: 20px;
    color: map-get($color, text);
  }

  .section-recommend {
    .recommend {
      position: relative;
      justify-content: end;

      height: 400px;
      padding: 20px 24px;
      border-radius: 12px;

      background: url("../../assets/images/demo-cover.jpg") top center / cover no-repeat;
      color: map-get($color, textButton);

      &-title {
        max-width: 80%;
        font-size: 28px;
        line-height: 1.4;
      }
      &::after {
        content: "";
        @include position(0, 0, 0, 0, absolute);
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.6);
      }
      &-content {
        z-index: 1;
      }
      &-author {
        display: inline-block;
        margin: 6px 0 16px;
      }
      .reaction-item {
        margin-right: 10px;
        .icon {
          margin-right: 4px;
        }
      }
    }
    .tag-list {
      flex-wrap: wrap;
      max-width: 305px;
    }
    .tag-item:not(:last-child) {
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .slick-slide {
      padding: 0 2px;
    }
    .slick-slider {
      overflow: hidden;
      border-radius: 12px;
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
  }
  .section-latest-post {
    .post {
      height: 450px;
      margin-bottom: $p-col * 2;
      border-radius: 12px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
      background-color: #fff;

      &-list {
        margin-bottom: 20px;
      }
      &-body-top {
        margin-bottom: 10px;
      }

      .user-avatar {
        width: 30px;
        height: 30px;
        margin-right: 6px;
        border: 1px solid #ccc;
        border-radius: 50%;
      }

      &:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
        .post-title {
          color: map-get($color, primary);
        }
      }
      .post-created-date {
        font-size: map-get($font-size, sm);
      }

      &-img {
        height: 250px;
        margin-bottom: 10px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        object-fit: cover;
        &.err {
          object-fit: contain;
        }
      }

      &-body-wrapper {
        padding: 0 15px;
      }

      .user-name {
        position: relative;
        margin-right: 16px;
        font-size: map-get($font-size, sm);
        font-weight: map-get($font-weight, medium);
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -11px;
          transform: translateY(-50%);

          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: map-get($color, text);
        }
      }

      &-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;

        margin-bottom: 10px;
        overflow: hidden;

        color: #000;
        font-size: map-get($font-size, xxl);
      }
      &-content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;

        margin-bottom: 8px;
        overflow: hidden;

        color: map-get($color, text);
        font-size: 15px;
        line-height: 1.44;
      }
      &-body {
        margin-bottom: 6px;
        border-bottom: 1px solid map-get($color, borderColor);
      }
      &-footer {
        padding: 10px 0;
      }
      &-reaction-item {
        margin-right: 10px;
      }
      &-reaction-number {
        font-size: map-get($font-size, sm);
      }
      .icon {
        margin-right: 4px;
      }
      .read-more {
        font-size: map-get($font-size, sm);
        font-weight: map-get($font-weight, medium);
      }
    }
    .empty-post {
      padding: 40px 20px;
      border-radius: 6px;

      background-color: #fff;
      &-img {
        width: 300px;
        height: 300px;
      }
      &-title {
        font-size: 32px;
      }
      &-desc {
        color: map-get($color, subtext);
      }
    }
  }
  .btn-backtotop {
    position: fixed;
    bottom: 80px;
    right: 80px;

    width: 46px;
    height: 46px;
    border: 1px solid #cecece;
    border-radius: 1.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      background-color: map-get($color, primary);
      opacity: 1;
      .icon-arrow-up-24 {
        background-image: url("../../assets/icons/ic-arrow-up-white.svg");
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, lg)) {
  .home-page {
    .section-latest-post {
      .post {
        margin-bottom: $p-col-lg * 2;
      }
    }
    .recommend-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      overflow: hidden;
    }
    .username::after {
      display: none;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .detail-page {
    .detail-action {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      .action-list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: map-get($color, backgroundFrame);
        .action-item {
          margin-bottom: 0;
        }
      }
    }
  }
}
