.home-page {
  .section-title {
    margin-bottom: 20px;
    color: map-get($color, text);
  }
  .section-recommend {
    .recommend {
      position: relative;
      justify-content: end;

      height: 400px;
      padding: 24px 32px;
      border-radius: 12px;
      color: map-get($color, textButton);

      &-title {
        max-width: 80%;
        font-size: 32px;
        line-height: 1.4;
      }
      &-cover {
        @include position(0, 0, 0, 0, absolute);
        border-radius: 12px;
        &-img {
          height: 100%;
          object-fit: cover;
        }
      }
      &::after {
        content: "";
        @include position(0, 0, 0, 0, absolute);
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.6);
      }
      &-content {
        z-index: 1;
      }

      &-author {
        margin: 6px 0 10px;
        .author-avatar {
          width: 24px;
          height: 30px;
          margin-right: 10px;
          img {
            border-radius: 100%;
            object-fit: cover;
          }
        }
        .author-name {
          color: map-get($map: $color, $key: textLight);
        }
      }
      .reaction-item {
        margin-right: 10px;
        .icon {
          margin-right: 4px;
        }
      }
    }
    .tag-list {
      flex-wrap: wrap;
      max-width: 500px;
    }
    .tag-item:not(:last-child) {
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .slick-slide {
      padding: 0 2px;
    }
    .slick-slider {
      overflow: hidden;
      border-radius: 12px;
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
  }
  .section-latest-post {
    .post-action-list,
    .post-delete {
      display: none;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, lg)) {
  .home-page {
    .section-latest-post {
      .post {
        margin-bottom: $p-col-lg * 2;
      }
    }
    .recommend-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      overflow: hidden;
    }
    .username::after {
      display: none;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .section-detail-page {
    .detail-action {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      .action-list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background-color: map-get($color, backgroundFrame);
        .action-item {
          margin-bottom: 0;
        }
      }
    }
  }
}
