.home-page {
  .section-title {
    font-size: 38px;
    font-weight: map-get($font-weight, semibold);
    color: map-get($color, primary);
    &-wrapper {
      padding-bottom: 20px;
      border-bottom: 1px solid map-get($color, borderColor);
      margin-bottom: 20px;
    }
  }
  .section-sub-title {
    color: map-get($color, subtext);
  }

  .section-recommend {
    margin-bottom: 60px;
    .recommend {
      width: 70%;
      &-wrapper {
        position: relative;
      }
      &-banner {
        position: relative;
        height: 500px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 36px;
          background-color: rgba(0, 0, 0, 0.5);
        }
        &-content {
          position: absolute;
          left: 3.5rem;
          top: 3.5rem;
        }
        &-title {
          margin-bottom: 18px;
          font-weight: map-get($font-weight, semibold);
          @include truncate-text(1);

          font-size: 36px;
          color: #fff;
        }
        &-desc {
          color: #d1d5db;
          margin-bottom: 18px;
          @include truncate-text(2);
        }
        .btn-read-more {
          padding: 14px 24px;
          border-radius: 16px;
          background-color: map-get($color, primary);
          font-size: map-get($font-size, md);
          .post-link {
            color: #fff;
          }
        }
        .icon-arrow-right-20 {
          margin-left: 10px;
        }
      }
      &-post-list {
        position: absolute;
        padding-left: 4rem;
        padding-right: 4rem;
        bottom: -5rem;
        left: 0;
        right: 0;
      }
      &-post-item {
        .post {
          height: 184px;
          border-radius: 22px;
          padding: 20px;
          background-color: #fff;
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          gap: 0;
          &:hover {
            box-shadow:
              0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1);
          }
        }
        .post-info {
          margin-bottom: 0;
        }
        .user-avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 6px;
        }
        .user-name {
          margin-bottom: 4px;
        }
      }

      &-banner-img {
        height: 100%;
        border-radius: 36px;
        object-fit: cover;
      }
    }
  }
  .section-latest-post {
    .post {
      .icon-like-wrapper,
      .icon-comment-wrapper,
      .icon-bookmark-wrapper {
        cursor: context-menu !important;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, lg)) {
  .home-page {
    .section-latest-post {
      .post {
        margin-bottom: $p-col-lg * 2;
      }
    }
    .recommend-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      overflow: hidden;
    }
    .username::after {
      display: none;
    }
    .section-recommend {
      .recommend-post-list {
        position: relative;
        padding: 0;
        bottom: 60px;
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .home-page {
    .section-detail-page {
      .detail-action {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        .action-list {
          display: flex;
          justify-content: space-around;
          align-items: center;

          padding: 10px 0;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          background-color: map-get($color, backgroundFrame);
          .action-item {
            margin-bottom: 0;
          }
        }
      }
    }
    .section-recommend {
      .recommend-post-list {
        bottom: -20px;
      }
      .recommend-post-item:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }
}
