.auth {
  .auth-title {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -8px;
      transform: translate(-50%);

      width: 150px;
      border: 1px solid map-get($map: $color, $key: primary);
    }
  }

  .login-icon {
    width: 30px;
  }

  .login-external-list {
    width: 30%;
    padding: 30px 0;
    margin: 0 auto;
  }

  .input-password-group {
    .icon-eye {
      position: absolute;
      width: 20px;
      height: 20px;

      margin: 10px 0 10px -40px;
      cursor: pointer;
    }
  }

  .error-login-fail {
    font-size: map-get($map: $font-size, $key: md);
  }
}

@media only screen and (max-width: map-get($breakpoints , md)) {
  .auth-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
  }

  .auth-bg {
    display: none;
  }
}
