.page-404 {
  width: 100%;
  background-color: #122638;
  &-wrapper {
    min-height: 100vh;
  }
  &-content {
    width: 50%;
  }
  &-status {
    text-align: center;
    font-family: "Concert One", cursive;
    font-size: 302px;
    background: linear-gradient(180deg, #1b3044 26.17%, #122638 108.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
  }
  &-title {
    color: #fff;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 46px;
    margin-top: -50px;
    margin-bottom: 18px;
  }
  &-banner {
    width: 50%;
  }
  &-img {
    width: 70%;
  }
}
