.main-profile-page {
  // user-detail section
  .section-user-detail {
    height: 380px;
    padding: 30px 50px;
    margin: 0px 0 36px;
    border-radius: 12px;
    background-color: map-get($map: $color, $key: backgroundFrame);

    .section-title {
      color: map-get($map: $color, $key: primary);
      font-size: 32px;
      letter-spacing: 4px;
    }

    .user-avatar {
      width: 150px;
      height: 150px;
      padding: 4px;
      border-radius: 50%;
      border: 1px solid black;
    }

    .user-avatar-img {
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-social-list {
      width: 75%;
      margin: 0 auto;
    }
    .social-count {
      font-size: map-get($map: $font-size, $key: xxl);
      font-weight: map-get($map: $font-weight, $key: semibold);
    }

    .social-desc {
      font-size: map-get($map: $font-size, $key: lg);
    }
    .user-detail-footer {
      align-items: end;
    }

    .user-detail-info {
      margin: 20px 0 0 12px;
      .user-detail-fullname {
        margin: 8px 0;
      }
      .detail-info-item {
        margin: 4px 0;
      }
      .info-desc {
        margin-left: 6px;
        font-size: map-get($map: $font-size, $key: sm);
      }
    }

    .btn-follow {
      width: 150px;
    }
    .btn-following {
      background-color: map-get($map: $color, $key: defaultBg);
      &:hover .btn-label {
        display: none;
      }
      &:hover::before {
        content: "Unfollow";
      }
    }
  }

  // user-post section
  .section-user-post {
    .section-title {
      position: relative;
      display: inline-block;
      margin-bottom: 20px;

      color: map-get($color, primary);
      font-size: 30px;

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        right: -4px;

        width: 100%;
        height: 3px;

        background-color: map-get($color, primary);
      }
    }
    .post-action-list, .post-delete {
      visibility: hidden;
    }
    .my-post {
      .post-action-list {
        visibility: visible;
      }
      .read-more {
        display: none;
      }
      .post:hover {
        .post-delete {
          visibility: visible;
        }
      }
    

    }
    .user-post-empty {
      width: 70%;
      margin: 0 auto;
    }
  }
}
