.main-profile-page {
  .user-actions {
    border-bottom: 1px solid map-get($color, borderColor);
    .tab-item {
      padding: 20px 0;
      margin-right: 30px;

      .tab-name {
        color: map-get($color, subtext);
        font-weight: map-get($font-weight, normal);
      }
      .icon {
        margin-bottom: 10px;
      }
      &.active {
        border-bottom: 2px solid map-get($color, text);
        .tab-name {
          color: map-get($color, text);
        }
      }
      &:hover {
        border-bottom: 2px solid map-get($color, subtext);
        cursor: pointer;
        .tab-name {
          color: map-get($color, text);
        }
      }
    }
  }
  // user-detail section
  .section-user-detail {
    padding-top: 0;
    .section-title {
      color: map-get($map: $color, $key: primary);
      font-size: 32px;
      letter-spacing: 4px;
    }

    .user-detail-wrapper {
      height: 380px;
      margin: 0px 0 36px;
      border-radius: 12px;
      background-color: map-get($map: $color, $key: backgroundFrame);
    }

    .user-detail-bg {
      height: 200px;
      background-color: #111827;
    }

    .user-info {
      padding: 32px;
      margin-top: -100px;

      background-color: #fff;
      border-radius: 36px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .user-avatar {
        width: 150px;
        height: 150px;
        padding: 4px;
        border-radius: 50%;
        border: 1px solid #111827;

        margin-right: 32px;
      }
      .user-content {
        flex: 1;
      }
      .user-fullname {
        font-size: 30px;
        margin-bottom: 15px;
        .username {
          font-size: 18px;
          font-weight: 600;
        }
      }
      .user-contact {
        gap: 10px;
        padding-right: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        font-size: 14px;
        color: #6b7280;
      }

      .user-event {
        gap: 20px;
        padding-right: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #6b7280;
        .user-desc {
          margin-left: 15px;
        }
      }
    }

    .user-social {
      gap: 16px;
    }

    .user-social-list {
      .user-social-item {
        margin-right: 15px;
      }
      .user-social {
        font-size: 14px;
      }

      .social-count {
        font-size: map-get($map: $font-size, $key: md);
        font-weight: map-get($map: $font-weight, $key: semibold);
        margin-right: 10px;
      }

      .social-desc {
        font-size: map-get($map: $font-size, $key: sm);
      }
    }

    .user-avatar-img {
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-detail-footer {
      min-height: 114px;
      align-items: end;
    }

    .user-detail-info {
      margin: 20px 0 0 12px;
      .user-detail-fullname {
        margin: 8px 0;
      }
      .detail-info-item {
        margin: 4px 0;
      }
      .info-desc {
        margin-left: 6px;
        font-size: map-get($map: $font-size, $key: sm);
      }
    }

    .btn-follow {
      width: 150px;
    }
    .btn-following {
      &:hover .btn-label {
        display: none;
      }
      &:hover::before {
        content: "Unfollow";
      }
    }
  }

  // user-post section
  .section-user-post {
    .section-title {
      position: relative;
      display: inline-block;
      margin-bottom: 20px;

      color: map-get($color, primary);
      font-size: 30px;

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        right: -4px;

        width: 100%;
        height: 3px;

        background-color: map-get($color, primary);
      }
    }
    .post-action-list {
      visibility: hidden;
    }
    .my-post {
      .user-info-wrapper {
        pointer-events: none;
      }
      .post-action-list {
        visibility: visible;
      }
      .read-more {
        display: none;
      }
      .post:hover {
        .post-delete {
          display: block;
        }
      }
    }
    .user-post-empty {
      width: 70%;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .main-profile-page {
    .section-user-detail {
      .user-info {
        .user-avatar {
          width: 100px;
          height: 100px;
        }
        .user-fullname {
          font-size: 15px;
          .username {
            font-size: 12px;
          }
        }
        .user-contact {
          flex-direction: column;
          gap: 10px;
          align-items: flex-start;
          font-size: 12px;
        }
        .user-event {
          display: none;
        }
        .user-social-list {
          .user-social {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .main-profile-page {
    .section-user-detail {
      .user-info {
        .user-avatar {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}
