.register-page {
  .auth-title {
    &::after {
      content: "";
      width: 250px;
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%);
      border: 1px solid map-get($map: $color, $key: primary);
    }
  }

  .form-register {
    margin-top: 30px;
  }
  .input-password-group {
    position: relative;

    .icon-password {
      margin: 10px 0 10px -40px;
      position: absolute;
      width: 20px;
      height: 20px;

      text-align: center;
      cursor: pointer;
    }
  }
  .login-link {
    color: map-get($map: $color, $key: primary);
    font-weight: map-get($map: $font-weight, $key: semibold);
  }
}
