.register-page {
  .logo-wrapper {
    height: 42px;
  }
  .auth-body {
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .auth-title {
      padding-top: 0;
      margin-top: -24px;
      &::after {
        content: "";
        position: absolute;
        width: 250px;
        bottom: -8px;
        left: 50%;

        border: 1px solid map-get($map: $color, $key: primary);
        transform: translate(-50%);
      }
    }

    .form-register {
      margin-top: 30px;
    }

    .input-password-group {
      position: relative;

      .icon-password {
        position: absolute;
        width: 20px;
        height: 20px;
        margin: 10px 0 10px -40px;

        text-align: center;
        cursor: pointer;
      }
    }

    .btn-auth {
      margin-top: 10px;
    }

    .login-link {
      color: map-get($map: $color, $key: primary);
      font-weight: map-get($map: $font-weight, $key: semibold);
    }
  }

  @media only screen and (max-width: map-get($breakpoints, md)) {
    .auth-wrapper {
      height: 100%;
    }
  }
}
